{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Celcotec | Miscellaneous</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
    <style>
        /* Custom smooth transition for masonry items */
        .masonry-item { break-inside: avoid; margin-bottom: 1.5rem; }
    </style>
</head>
<body class="bg-slate-50 font-sans">
  {% include 'includes/navbar.html' %}

  <header class="py-8 max-w-5xl mx-auto">
    <h1 class="text-3xl md:text-4xl font-bold text-[#1e3a5f] font-serif uppercase tracking-tight inline-block pb-1">
        MISCELLANEOUS FITOUTS
    </h1>
</header>
    <main class="max-w-6xl mx-auto px-4 space-y-3 pb-20">

         <!-- Miscellaneous (1) -->
      <section class="bg-white rounded-none p-6 shadow-xl shadow-slate-200/50 border border-slate-100">
        <div class="flex flex-col md:flex-row justify-between items-start md:items-end gap-4">
            <div>
                
                <h2 class="text-2xl md:text-3xl font-serif font-semibold mt-2 mb-3 text-black">Miscellaneous (1)</h2>
               
            </div>

        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
    
            <div class="overflow-hidden h-48 shadow-sm">
                <img src="{% static 'fitout/foc-pgal-managers-rm-2.jpg' %}" alt="Fit-out 1" class="w-full h-full object-cover hover:scale-110 transition duration-500">
            </div>
        
            <div class="overflow-hidden h-48 shadow-sm">
                <img src="{% static 'fitout/foc-pgal-board-rm-4.jpg' %}" alt="Fit-out 2" class="w-full h-full object-cover hover:scale-110 transition duration-500">
            </div>
        
            <div class="overflow-hidden h-48 shadow-sm">
                <img src="{% static 'fitout/foc-pgal-board-rm.jpg' %}" alt="Fit-out 3" class="w-full h-full object-cover hover:scale-110 transition duration-500">
            </div>
        
            <div class="overflow-hidden h-48 shadow-sm">
                <img src="{% static 'fitout/foc-pgal-board-rm-3.jpg' %}" alt="Fit-out 4" class="w-full h-full object-cover hover:scale-110 transition duration-500">
            </div>
        
            <div class="overflow-hidden h-48 shadow-sm">
                <img src="{% static 'fitout/foc-pgal-wkstation-area.jpg' %}" alt="Fit-out 5" class="w-full h-full object-cover hover:scale-110 transition duration-500">
            </div>
        
            <div class="overflow-hidden h-48 shadow-sm">
                <img src="{% static 'fitout/foc-pgal-wkstation-area-2.jpg' %}" alt="Fit-out 6" class="w-full h-full object-cover hover:scale-110 transition duration-500">
            </div>
            
            <div class="overflow-hidden h-48 shadow-sm">
              <img src="{% static 'fitout/foc-pgal-wkstation-area-3.jpg' %}" alt="Fit-out 7" class="w-full h-full object-cover hover:scale-110 transition duration-500">
          </div>
          <div class="overflow-hidden h-48 shadow-sm">
            <img src="{% static 'fitout/foc-pgal-wkstation-area-4.jpg' %}" alt="Fit-out 7" class="w-full h-full object-cover hover:scale-110 transition duration-500">
        </div>
        <div class="overflow-hidden h-48 shadow-sm">
            <img src="{% static 'fitout/foc-pgal-wkstation-area-5.jpg' %}" alt="Fit-out 7" class="w-full h-full object-cover hover:scale-110 transition duration-500">
        </div>
        <div class="overflow-hidden h-48 shadow-sm">
            <img src="{% static 'fitout/foc-pgal-wkstation-area-6.jpg' %}" alt="Fit-out 7" class="w-full h-full object-cover hover:scale-110 transition duration-500">
        </div>
        
        </div>
       </section>  

 <!-- Miscellaneous 2 -->
      <section class="bg-white rounded-none p-6 shadow-xl shadow-slate-200/50 border border-slate-100">
        <div class="flex flex-col md:flex-row justify-between items-start md:items-end gap-4">
            <div>
                
                <h2 class="text-2xl md:text-3xl font-serif font-semibold mt-2 mb-3 text-black">Miscellaneous (2)</h2>
                
            </div>

        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
    
            <div class="overflow-hidden h-48 shadow-sm">
                <img src="{% static 'fitout/foc-pgal-wkstation-area-7.jpg' %}" alt="Fit-out 7" class="w-full h-full object-cover hover:scale-110 transition duration-500">
            </div>
        
            <div class="overflow-hidden h-48 shadow-sm">
                <img src="{% static 'fitout/foc-pgal-wkstation-area-8.jpg' %}" alt="Fit-out 2" class="w-full h-full object-cover hover:scale-110 transition duration-500">
            </div>
        
            <div class="overflow-hidden h-48 shadow-sm">
                <img src="{% static 'fitout/foc-pgal-wkstation-area-9.jpg' %}" alt="Fit-out 3" class="w-full h-full object-cover hover:scale-110 transition duration-500">
            </div>
        
            <div class="overflow-hidden h-48 shadow-sm">
                <img src="{% static 'fitout/foc-pgal-reception-area.jpg' %}" alt="Fit-out 4" class="w-full h-full object-cover hover:scale-110 transition duration-500">
            </div>
        
            <div class="overflow-hidden h-48 shadow-sm">
                <img src="{% static 'fitout/foc-pgal-reception-area-2.jpg' %}" alt="Fit-out 5" class="w-full h-full object-cover hover:scale-110 transition duration-500">
            </div>
        
            <div class="overflow-hidden h-48 shadow-sm">
                <img src="{% static 'fitout/foc-pgal-reception-area-3.jpg' %}" alt="Fit-out 6" class="w-full h-full object-cover hover:scale-110 transition duration-500">
            </div>
            
            <div class="overflow-hidden h-48 shadow-sm">
              <img src="{% static 'fitout/foc-pgal-reception-area-4.jpg' %}" alt="Fit-out 7" class="w-full h-full object-cover hover:scale-110 transition duration-500">
          </div>
          
          <div class="overflow-hidden h-48 shadow-sm">
            <img src="{% static 'fitout/foc-pgal-pantry-area.jpg' %}" alt="Fit-out 7" class="w-full h-full object-cover hover:scale-110 transition duration-500">
        </div>
        </div>
       </section>  
  </main>
    

</body>
</html>