{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>REMASTERED - Celcotec Industrial Corp.</title>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap" rel="stylesheet">
        
        {% tailwind_css %}
    </head>
    <style>
        /* The animation keyframes */
        @keyframes fadeInUp {
          from {
            opacity: 0;
            transform: translateY(30px); /* Starts 30px lower */
          }
          to {
            opacity: 1;
            transform: translateY(0); /* Ends at its natural position */
          }
        }
        
        /* The base animation class */
        .hero-reveal {
          opacity: 0; /* Hidden initially */
          animation: fadeInUp 0.8s ease-out forwards;
        }
        
        /* Staggered delays */
        .delay-1 { animation-delay: 0.2s; }
        .delay-2 { animation-delay: 0.4s; }
        .delay-3 { animation-delay: 0.6s; }
        @keyframes slowZoom {
            0% {
              transform: scale(1);
            }
            100% {
              transform: scale(1.1);
            }
          }
          
          .animate-slow-zoom {
            /* 20s duration, smooth easing, loops forever, reverses direction */
            animation: slowZoom 20s ease-in-out infinite alternate;
          }
    </style>
<body class="bg-base-200 min-h-screen">
    <!-- Navigation Bar -->
    <div class="navbar sticky top-0 z-50 px-4 lg:px-8 bg-gradient-to-r from-[#0103BF] to-[#203864] backdrop-blur-md border-b border-white/10 shadow-lg">
        <div class="flex-1">
            <a class="font-bold tracking-tight text-black hover:bg-white/10">
                {% load static %}
                <img src="{% static 'home/images/citc_logo_view.png' %}" class="w-25 h-auto p-0" alt="CITC Logo">
            </a>
        </div>
        <div class="flex-none hidden lg:block">
            <ul class="menu menu-horizontal px-1 py-2 gap-2">
                <!-- HOME -->
                <li class="text-white font-medium"><a>HOME</a></li>
                <li>
                 <!-- ABOUT -->
                    <details>
                        <summary class="text-white font-medium">ABOUT</summary>
                        <ul class="p-2 bg-[#F1F5F9] rounded-t-none z-[1]  text-black">
                            <li><a>President</a></li>
                            <li><a>Project List</a></li>
                            <li><a>Client List</a></li>
                            <li><a>Specializations</a></li>
                        </ul>
                    </details>
                </li>
                <li>
                <!-- FIT-OUT CONSTRUCTION-->
                    <details>
                        <summary class="text-white font-medium">FIT-OUT CONSTRUCTION</summary>
                        <ul class="p-2 bg-[#F1F5F9] rounded-t-none z-[1]  text-black">
                            <li><a>About Fit Out</a></li>
                            <li>
                                <details>
                                    <summary>
                                        Fit Out Photos
                                    </summary>
                                    <ul class="p-2 bg-[#F1F5F9] rounded-t-none z-[1]  text-black">
                                        <li><a>CFOS and Dlink</a></li>
                                        <li><a>iScale and MIS</a></li>
                                        <li><a>Offshore BP</a></li>
                                        <li><a>Miscellaneous (1) </a></li>
                                        <li><a>Miscellaneous (2) </a></li>
                                                            
                                    </ul>
                                </details>
                            </li>                          
                        </ul>
                    </details>
                </li>
                <li>
                <!-- PROJECT PHOTOS -->
                <details>
                    <summary class="text-white font-medium">
                        PROJECT PHOTOS
                    </summary>
                <ul class="p-2 bg-[#F1F5F9] rounded-t-none z-[1]  text-black">
                    <li>
                        <details>
                            <summary>
                                Electrical Design
                            </summary>
                            <ul class="p-2 bg-[#F1F5F9] rounded-t-none z-[1]  text-black">
                                <li><a>Electrical Design</a></li>
                                <li><a>AWS Treatment</a></li>     
                                <li><a>Preventive Maintenance</a></li>                     
                            </ul>
                        </details>
                    </li>
                            <li><a>General Construction</a></li>
                            <li><a>Water Refilling Station</a></li>
                </ul>
                </details>                
            </li>
                <li>
                <!-- RENEWABLE ENERGY -->
                    <details>
                        <summary class="text-white font-medium">
                            RENEWABLE ENERGY
                        </summary>
                    <ul class="p-2 bg-[#F1F5F9] rounded-t-none z-[1]  text-black">
                        <li><a>Turnkey Installation</a></li>
                        <li>
                            <details>
                                <summary>
                                    Solar Energy
                                </summary>
                                <ul class="p-2 bg-[#F1F5F9] rounded-t-none z-[1]  text-black">
                                    <li><a>Portable Solar Power</a></li>
                                    <li><a>Outdoor Kit</a></li>                                           
                                </ul>
                            </details>
                        </li>
                        <li><a>Microwind Generator</a></li>
                    </ul>
                    </details>
                </li>
                <li><a class="btn border-none font-medium bg-[#FACC15] text-blue-900 hover:bg-[#EAB308] shadow-none">CONTACT</a></li>
            </ul>
        </div>
         <!-- DROPDOWN MOBILE -->
        <div class="flex-none lg:hidden">
            <div class="dropdown dropdown-end">
                <button tabindex="0" role="button" class="btn btn-ghost btn-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>
                <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[100] p-2 shadow-lg bg-base-100 rounded-box w-52 border border-base-200">
                    <li><a class="py-3">Home</a></li>
                    <li><a class="py-3">About</a></li>
                    <li><a class="py-3">Fitout Construction</a></li>
                    <li><a class="py-3">Project Photos</a></li>
                    <li><a class="py-3">Renewable Energy</a></li>
                    <hr class="my-1 border-base-200" />
                    <li><a class="text-primary font-bold">Get Started</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
<!-- HERO SECTION -->

    <section class="relative min-h-[50vh] md:h-[60vh] w-full overflow-hidden bg-black">
        <div class="absolute inset-0 z-0">
            <img 
                src="{% static 'home/images/unsplash_ctic_FarChinberdiev.jpg' %}" 
                class="w-full h-full object-cover animate-slow-zoom" 
                alt="Engineering Background"
            >
            
            <div class="absolute inset-0 bg-[#1A1A1A]/50 mix-blend-multiply"></div>
            <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-transparent to-black/40"></div>
        </div>
    
        <div class="relative z-10 flex h-full items-center md:items-start justify-start p-6 sm:p-12 md:p-20 pt-24 md:pt-24">
            <div class="max-w-[90%] md:max-w-6xl text-left">
                
                <span class="hero-reveal block mb-2 text-xs font-bold tracking-[0.2em] text-white uppercase opacity-90 sm:text-md md:text-xl">
                    Electrical, Mechanical, and Civil Engineering Contractor and Designer
                </span>
    
                <h1 class="hero-reveal delay-1 mb-4 text-3xl text-shadow-2xs leading-[1.1] text-white drop-shadow-lg sm:text-5xl md:text-6xl lg:text-6xl xl:text-7xl" style="font-family: 'Playfair Display', serif;">
                    CELCOTEC INDUSTRIAL CORP.
                </h1>
    
                <div class="hero-reveal delay-2 mb-8 block max-w-xl text-sm leading-relaxed text-gray-300 md:text-lg lg:text-xl uppercase">
                    A Full-Service Engineering Company
                </div>
    
                <div class="hero-reveal delay-3 flex flex-col gap-4 sm:flex-row mt-4">
                    <a href="#projects" class="btn btn-md md:btn-lg border-none bg-blue-700 hover:bg-blue-800 text-white transition-all duration-300 shadow-lg flex items-center justify-center">
                        PROJECT LIST
                    </a>
                    <a href="#clients" class="btn btn-outline border-white text-white hover:bg-white hover:text-black btn-md md:btn-lg px-10 flex items-center justify-center">
                        CLIENT LIST
                    </a>
                </div>
    
            </div>
        </div>
    </section>

    <section class="w-full py-16 md:py-24 bg-white">
        <div class="max-w-7xl mx-auto px-4 md:px-8">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 lg:gap-10 items-start">
            
            <div class="relative group">
              <div class="flex overflow-x-auto snap-x snap-mandatory shadow-2xl scroll-smooth no-scrollbar">
                <div id="slide1" class="flex-none w-full snap-center">
                    <img src="{% static 'home/images/CTIC_slide1.png' %}" class="w-full aspect-[4/3] object-cover" alt="CITC Logo">
                </div>
                <div id="slide2" class="flex-none w-full snap-center">
                  <img src="https://images.unsplash.com/photo-1461749280684-dccba630e2f6" class="w-full aspect-[4/3] object-cover" alt="Technical Implementation" />
                </div>
                <div id="slide3" class="flex-none w-full snap-center">
                  <img src="https://images.unsplash.com/photo-1498758536662-35b82cd15e29" class="w-full aspect-[4/3] object-cover" alt="Project Management" />
                </div>
              </div>
      
              <div class="flex justify-center w-full py-6 gap-3">
                <a href="#slide1" class="w-3 h-3 rounded-full bg-blue-700/30 hover:bg-blue-700 transition-colors"></a> 
                <a href="#slide2" class="w-3 h-3 rounded-full bg-blue-700/30 hover:bg-blue-700 transition-colors"></a> 
                <a href="#slide3" class="w-3 h-3 rounded-full bg-blue-700/30 hover:bg-blue-700 transition-colors"></a>
              </div>
            </div>
      
            <div class="space-y-2">
              <div class="space-y-1">
               
                <h3 class="text-1xl md:text-2xl font-arial font-bold text-base-content uppercase leading-tight">
                    Cornerstone of Strength and Reliability since 1994
                </h3>
              </div>
              <p class="text-xl text-black leading-relaxed text-justify font-medium" style="font-family: 'Playfair Display', serif;">
                Since 1994, Celcotec has been a trusted partner for leading builders, developers, and architects. As a cornerstone of technical excellence in electrical, civil, and mechanical works, Celcotec offers a comprehensive suite of general construction services—ranging from engineering design and consultancy to full-scale contracting.
                <br />
                Our core expertise in electrical engineering covers electrical construction projects, rehabilitation of medium and low voltage, distribution lines, low voltage switchgear, 5MVA outdoor substation, electrical design, rewiring and upgrading.
                <br />
                Celcotec is an accredited member of the Society of Philippine Electrotechnical Constructors and Suppliers, Inc. (SPECS).
              </p>
            </div>
      
          </div>
        </div>
      </section>
      <!-- SERVICES SECTION-->
      <section class="py-10 bg-white">
        <div class="max-w-7xl mx-auto px-4 md:px-8">
          
        
      
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 justify-items-center">
            
            <div class="card bg-base-100 shadow-sm transition-transform hover:-translate-y-2 border-0">
              <figure>
                <img src="{% static 'home/images/CTIC_ElectricalWorks_1.png' %}" 
     alt="Electrical Works" 
     class="w-full object-cover h-48" />
              </figure>
              <div class="card-body">
                <h2 class="card-title uppercase font-bold">Electrical Works</h2>
                <p class>Our core expertise in electrical engineering covers electrical construction projects, rehabilitation of medium and low voltage, distribution lines, 
                    low voltage switchgear, 5MVA outdoor substation, electrical design, rewiring and upgrading.</p>
              </div>
            </div>
      
            <div class="card bg-base-100 shadow-sm transition-transform hover:-translate-y-2">
              <figure>
                <img src="https://images.unsplash.com/photo-1541888946425-d81bb19480c5?auto=format&fit=crop&w=800&q=80" alt="Civil Works" />
              </figure>
              <div class="card-body">
                <h2 class="card-title uppercase font-bold">Civil Works</h2>
                <p>We hold a license from the Philippine Contractors Accreditation Board (PCAB) and an Inter-Agency Certificate to handle works on public infrastructure such as roads, railroads, and bridges;
                    Manufacturing plants; low, medium, and high-rise buildings.</p>
                <div class="card-actions justify-end">
                  <button class="btn btn-primary btn-sm">Details</button>
                </div>
              </div>
            </div>
      
            <div class="card bg-base-100 shadow-sm transition-transform hover:-translate-y-2">
                <figure>
                    <img src="{% static 'home/images/CTIC_GeneralConstruction.png' %}" 
         alt="Electrical Works" 
         class="w-full object-cover h-48" />
                  </figure>
              <div class="card-body">
                <h2 class="card-title uppercase font-bold">General Construction</h2>
                <p>Expert construction and engineering works involving iron, steel, wood, masonry, and earthworks. We deliver durable structural solutions from the ground up.</p>
                <div class="card-actions justify-end">
                  <button class="btn btn-primary btn-sm">Details</button>
                </div>
              </div>
            </div>
      
            <div class="card bg-base-100 shadow-sm transition-transform hover:-translate-y-2">
              <figure>
                <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?auto=format&fit=crop&w=800&q=80" alt="Consultancy" />
              </figure>
              <div class="card-body">
                <h2 class="card-title">Renewable Energy</h2>
                <p>Project management and engineering audits to ensure industry standard compliance.</p>
                <div class="card-actions justify-end">
                  <button class="btn btn-primary btn-sm">Details</button>
                </div>
              </div>
            </div>
      
            <div class="card bg-base-100 shadow-sm transition-transform hover:-translate-y-2">
              <figure>
                <img src="https://images.unsplash.com/photo-1621905251189-08b45d6a269e?auto=format&fit=crop&w=800&q=80" alt="Electrical" />
              </figure>
              <div class="card-body">
                <h2 class="card-title">Telecommunication</h2>
                <p>Main line installations, panel boards, and complete building wiring solutions.</p>
                <div class="card-actions justify-end">
                  <button class="btn btn-primary btn-sm">Details</button>
                </div>
              </div>
            </div>
      
            <div class="card bg-base-100 shadow-sm transition-transform hover:-translate-y-2">
              <figure>
                <img src="https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?auto=format&fit=crop&w=800&q=80" alt="Management" />
              </figure>
              <div class="card-body">
                <h2 class="card-title">General Contracting</h2>
                <p>Full-scale project implementation from ground-breaking to final handover.</p>
                <div class="card-actions justify-end">
                  <button class="btn btn-primary btn-sm">Details</button>
                </div>
              </div>
            </div>
      
          </div>
        </div>
      </section>
</body>
</html>