{% load tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celcotec Client List</title>
    {% tailwind_css %}
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    {% include 'includes/navbar.html' %}

    <header class="py-8 px-8 max-w-5xl mx-auto">
        <h1 class="text-3xl md:text-4xl font-bold text-[#1e3a5f] font-serif uppercase tracking-tight inline-block pb-1">
            Client List
        </h1>
        <div class="text-1xl md:text-xl border-b border-slate-100 w-full font-serif font-semibold py-3">Representative Clients for Electrical Design and Consultancy</div>
    </header>

    <section class=" bg-base-100 ">
      <div class="py-4 px-8 max-w-5xl mx-auto">
    
        <div class="overflow-x-auto border border-gray-200">
          <table class="table table-zebra table-xs w-full">
            <thead class="bg-[#002147] text-white">
              <tr class="border-none">
                <th class="py-3 px-4 text-yellow-400 font-bold uppercase tracking-widest text-[10px]">Company Name</th>
                <th class="py-3 px-4 text-yellow-400 font-bold uppercase tracking-widest text-[10px]">Location</th>
              </tr>
            </thead>
            
            <tbody>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  UST AB-Commerce Building
                </td>
                <td class="font-sans text-gray-500"></td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  Banco de Oro branches
                </td>
                <td class="font-sans text-gray-500">All over the Philippines</td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  Various Bank of the Philippine Islands branches
                </td>
                <td class="font-sans text-gray-500"></td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  MOHRI & P.A. Associates, Inc. new office
                </td>
                <td class="font-sans text-gray-500">Makati City</td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  MOHRI & P.A. Associates, Inc.—Supreme Court electrical and fire protection rehabilitation
                </td>
                <td class="font-sans text-gray-500"></td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  Palafox Associates—mechanical design works for Sultan Hassanal Bolkiah Masjid Mosque
                </td>
                <td class="font-sans text-gray-500">Kalanganan 2, Cotabato City, Maguindanao</td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  Palafox Associates—electrical design of Aurora Special Economic Zone Authority (ASEZA)
                </td>
                <td class="font-sans text-gray-500"></td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  Palafox Associates—electrical & fire protection design of Palmetto
                </td>
                <td class="font-sans text-gray-500">Bacolod City</td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  Palafox Associates—fire protection, plumbing/sanitary and mechanical design works of proposed GGLC Gas Plaza
                </td>
                <td class="font-sans text-gray-500">Clark Freeport Zone, Pampanga</td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  Electrical design of 12th storey Southeast Asian Medical Center, Inc. (SAMCI)
                </td>
                <td class="font-sans text-gray-500"></td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  Electrical design of Mid Rise Bldg. LAROSSA Project at Primehomes Real Estate Development, Inc.
                </td>
                <td class="font-sans text-gray-500"></td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  San Beda College
                </td>
                <td class="font-sans text-gray-500">Makati Avenue, Makati</td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  Juan Sumulong Memorial College
                </td>
                <td class="font-sans text-gray-500">General Luna Street, Antipolo City</td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  Lishen Orient Square Building
                </td>
                <td class="font-sans text-gray-500">M.L. Quezon Street, Teresa, Rizal</td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  Modern Imaging Solutions
                </td>
                <td class="font-sans text-gray-500">Mckinley Hill, Taguig</td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  Pag-Ibig Fund
                </td>
                <td class="font-sans text-gray-500">Shaw Boulevard, Mandaluyong</td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  Fusion BPO Services
                </td>
                <td class="font-sans text-gray-500">Shaw Boulevard, Mandaluyong</td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  Offshore Business Processing Inc.
                </td>
                <td class="font-sans text-gray-500">Ortigas Center, Pasig</td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  Infinit-O Manila
                </td>
                <td class="font-sans text-gray-500">Makati Avenue, Makati</td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  Iscale
                </td>
                <td class="font-sans text-gray-500">Paseo De Roxas, Makati</td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  Bayan Trade Office
                </td>
                <td class="font-sans text-gray-500">Global City, Fort Bonifacio</td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  Five-storey Legasto Building
                </td>
                <td class="font-sans text-gray-500">E. Rodriguez, Q.C.</td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  Edison Dy Residence
                </td>
                <td class="font-sans text-gray-500">Horse Shoe Village</td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  Sangguniang Bayan Ng Teresa
                </td>
                <td class="font-sans text-gray-500"></td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  Barangay San Juan
                </td>
                <td class="font-sans text-gray-500">Taytay, Rizal</td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  Ortigas
                </td>
                <td class="font-sans text-gray-500">Pasig City</td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  Five-storey Dormitory
                </td>
                <td class="font-sans text-gray-500">Tayuman Commercial Center</td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  Dasmariñas Village Association
                </td>
                <td class="font-sans text-gray-500"></td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  ON Semiconductor Phils., Inc.
                </td>
                <td class="font-sans text-gray-500"></td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  DBP Baguio Training Center
                </td>
                <td class="font-sans text-gray-500"></td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  Computershare
                </td>
                <td class="font-sans text-gray-500"></td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  Emar Suites
                </td>
                <td class="font-sans text-gray-500"></td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  ARCONIC
                </td>
                <td class="font-sans text-gray-500"></td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  D-Link
                </td>
                <td class="font-sans text-gray-500"></td>
              </tr>
              <tr class="hover">
                <td class="font-serif  text-lg text-[#002147]">
                  Jelp
                </td>
                <td class="font-sans text-gray-500"></td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>
    </section>
    {% include 'includes/footer.html' %}
</body>
</html>